{% extends 'layout.twig' %}

{% block content %}
	<div id="nav-bar"></div>
	<div class="content-divider"></div>
	<div class="card-scroll-container">
		<div class="card-scrollable">card 1</div>
		<div class="card-scrollable">card 2</div>
		<div class="card-scrollable">card 3</div>
		<div class="card-scrollable">card 4</div>
	</div>
{% endblock %}
 