<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/assets/css/screen.css' />
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  <script src="/assets/js/app.js"></script>
</html>
