{% extends 'layout.twig' %}

{% block content %}
	<div id="user-account-form-flex">
		<div id="user-account-form-container">
			<form action="/Login" method="POST">
				<div class="user-login-form">
					<h1 class="form-title">Login</h1>
					<p class="form-subtext">Please fill in this form to login to your account.</p>
					<input class="form-input" type="text" placeholder="Please Enter Your Username!" name="userName" id="userName" required>
					<br>
					<input class="form-input" type="password" placeholder="Password" name="password" id="password" required>
					<br>
					<button class="form-submit" id="login-btn" type="submit" class="login-btn" disabled>Login</button>
				</div>
				<div class="container register form-subtext">
					<p>Don't have an account?
						<a href="/register">Register</a>.</p>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
