{% extends 'layout.twig' %}

{% block content %}
	<div id="user-account-form-flex">
		<div id="user-account-form-container">
			<form action="/reset_password" method="POST">
				<div class="user-account-form" id="user-reset-form">
					<h1 class="form-title">Reset Password</h1>
					<p class="form-subtext">Please fill in this form to create an account.</p>
					<input class="form-input" type="email" placeholder="Email Address" name="email" id="email" required><Br>
					<input class="form-input" type="password" placeholder="Old Password" name="old-password" id="old-password" required><br>
					<input class="form-input" type="password" placeholder="New Password" name="new-password" id="new-password" required><br>
					<input class="form-input" type="password" placeholder="Repeat New Password" name="new-password-confirm" id="new-password-confirm" required>
					<button class="form-submit" id="reset-btn" type="submit" class="reset-btn" disabled>Feature Disabled</button>
					<br>
					<p class="form-subtext">Remember your password?
						<a href="/login">Sign in</a>.</p>
				</div>
			</form>

		</div>
	</div>

{% endblock %}
